@import url(./css/buttonStyle.css);
@import url(./css/dropdownstyle.css);
@import url(./css/editTaskFrameStyle.css);

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #e0e0e0;
  display: flex;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
}

#title-logo {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 50%;
  pointer-events: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 40px;
}

#option-panel {
  background-color: rgb(255, 183, 42);
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column;
  z-index: 2;
}
#logo {
  flex-grow: .5;
}

#title-app {
  color: white;
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-weight: 200;
  font-size: 49px;
}

#options {
  display: flex;
  flex-flow: column;
  /* background: red; */
  width: 80%;
  position: relative;
}

.add-task-input {
  height: 30px;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid #000;
  padding-left: 8px;
  caret-color: #eee;
  margin-top: 20px;
  transition: .1s all ease;
}
.add-task-input:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid #000;
  animation: input-focus .1s ease;
}
.add-task-input:focus::selection {
  background: #666;
  color: #eee;
}
.add-task-input::placeholder {
  font-size: 17px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  color: rgba(27, 27, 27, .5);
  margin-left: 5px;
}
.add-task-input::placeholder {
  font-size: 17px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  color: rgba(27, 27, 27, .5);
  margin-left: 5px;
}
.add-task-input::placeholder {
  font-size: 17px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  color: rgba(27, 27, 27, .5);
  margin-left: 5px;
}
.add-task-input:focus::placeholder {
  color: transparent;
}
.add-task-input:focus + .add-task-label, .add-task-input:not(.add-task-input:placeholder-shown) + .add-task-label {
  color: rgba(27, 27, 27, .7);
  transform: translateY(0);
  transform: scale(1);
}

.add-task-label {
  font-size: 11px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  margin-left: 5px;
  position: absolute;
  margin: 5px 5px; 
  color: transparent;
  /* color: rgba(27, 27, 27, .5); */
  transform: translateY(15px);
  transform: scale(0);
  transition: .3s all ease;
}
#task-description-input-label {
  top: 40%;
}

.add-task-label {
  font-size: 11px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  margin-left: 5px;
  position: absolute;
  margin: 5px 5px; 
  color: transparent;
  /* color: rgba(27, 27, 27, .5); */
  transform: translateY(15px);
  transform: scale(0);
  transition: .3s all ease;
}

#add-description-button {
  width: auto;
  align-self: flex-end;
  background: transparent;
  border: none;
  margin-top: 4px;
  position: relative;
  margin-top: 20px;
}

#add-description-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

#description-input {
  width: 0;
  height: 0;
  transform: scale(0);
  margin-top: 0;
  transition: width, height .4s ease;
}
#description-input.on {
  width: auto;
  height: 30px;
  transform: scale(1);
}

@keyframes input-focus {
  from {
    width: 90%;
  }
  to {
    width: 100%;
  }
}

#list-area {
  width: 50%;
}
#lista-tarefas {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 85vh;
}
#lista-tarefas::-webkit-scrollbar {
  display: none;
}

.list-area-title {
  font-family: Quicksand, sans-serif;
  font-weight: 550;
  font-size: 40px;
  margin-left: 18px;
}

#list-area-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1b1b1b;
  color: #eee;
  box-shadow: 5px -5px 15px 0 rgba(27, 27, 27, .5);
}
#list-area-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 10vh;
  box-shadow: 5px 5px 15px 0 rgba(27, 27, 27, .5);
}

#filter-options, #filter-direction {
  align-self: flex-start;
  /* margin-right: 15px;*/
  margin-left: 15px;
  flex-wrap: wrap;
}