* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #e0e0e0;
  display: flex;
  align-items: flex-start;
}

#title-logo {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 50%;
}

#option-panel {
  background-color: rgb(255, 183, 42);
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#logo {
  flex-grow: .5;
}

#title-app {
  color: white;
  font-family: Quicksand, sans-serif;
  font-weight: 200;
  font-size: 49px;
}

#options {
  display: flex;
  flex-flow: column;
  /* background: red; */
  width: 80%;
  position: relative;
}

.add-task-input {
  height: 30px;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 2px solid #000;
  padding-left: 8px;
  caret-color: #eee;
  margin-top: 20px;
  transition: .1s all ease;
}
.add-task-input:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid #000;
  animation: input-focus .1s ease;
}
.add-task-input:focus::selection {
  background: #666;
  color: #eee;
}
.add-task-input::placeholder {
  font-size: 17px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  color: rgba(27, 27, 27, .5);
  margin-left: 5px;
}
.add-task-input::placeholder {
  font-size: 17px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  color: rgba(27, 27, 27, .5);
  margin-left: 5px;
}
.add-task-input::placeholder {
  font-size: 17px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  color: rgba(27, 27, 27, .5);
  margin-left: 5px;
}
.add-task-input:focus::placeholder {
  color: transparent;
}
.add-task-input:focus + .add-task-label, .add-task-input:not(.add-task-input:placeholder-shown) + .add-task-label {
  color: rgba(27, 27, 27, .7);
  transform: translateY(0);
  transform: scale(1);
}

.add-task-label {
  font-size: 11px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  margin-left: 5px;
  position: absolute;
  margin: 5px 5px; 
  color: transparent;
  /* color: rgba(27, 27, 27, .5); */
  transform: translateY(15px);
  transform: scale(0);
  transition: .3s all ease;
}
#task-description-input-label {
  top: 40%;
}

.add-task-label {
  font-size: 11px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  margin-left: 5px;
  position: absolute;
  margin: 5px 5px; 
  color: transparent;
  /* color: rgba(27, 27, 27, .5); */
  transform: translateY(15px);
  transform: scale(0);
  transition: .3s all ease;
}

#add-description-button {
  width: auto;
  align-self: flex-end;
  background: transparent;
  border: none;
  margin-top: 4px;
  position: relative;
  margin-top: 20px;
}

#add-description-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

#add-task-button {
  cursor: pointer;
  width: 40%;
  height: 35px;
  align-self: center;
  color: #eee;
  background: #1b1b1b;
  border: none;
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

#description-input {
  width: 0;
  height: 0;
  transform: scale(0);
  margin-top: 0;
  transition: width, height .4s ease;
}
#description-input.on {
  width: auto;
  height: 30px;
  transform: scale(1);
}

@keyframes input-focus {
  from {
    width: 90%;
  }
  to {
    width: 100%;
  }
}

#list-area {
  width: 50%;
}