#cart {
  width: 30vw; height: 78vh;
  right: 7vw;
  top: 118px;
  position: fixed;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, .2);
  border-radius: 55px;

  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  justify-content: space-around;
}

#subtotal {
  margin-left: 10%;
}

#pay:disabled {
  background-color: gray;
}

#pay {
  width: 75px;
  height: 45px;
  margin-right: 10%;
  background: black;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: .3s ease all;
  border: none;
}

#pay:hover:not(:disabled) {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

.cart-total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.cart-iconContainer {
  align-self: center;
  margin-top: 15px;
}

.cart-itemSection {
  height: 250px; width: 95%;
  overflow-y: scroll;
  margin-top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
