#add-task-button {
  cursor: pointer;
  width: 40%;
  height: 35px;
  align-self: center;
  color: #eee;
  background: #1b1b1b;
  border: none;
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

#add-task-button:disabled {
  background-color: #444444;
}
#add-task-button.disable:hover::before {
  content: 'Você não pode adicionar uma tarefa sem título';
  display: block;
  font-size: 10px;
  position: absolute;
  background-color: #1b1b1b;
  padding: 5px;
  border-radius: 5px;
  top: 104%;
  cursor: auto;
}

#edit-task-button {
  cursor: pointer;
  width: auto;
  padding: 0 20px;
  height: 35px;
  align-self: center;
  color: #eee;
  background: #1b1b1b;
  border: none;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  margin-left: 10px;
}
#edit-task-button:disabled {
  background-color: #444444;
}