#add-task-button {
  cursor: pointer;
  width: 40%;
  height: 35px;
  align-self: center;
  color: #eee;
  background: #1b1b1b;
  border: none;
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  position: relative;
}

#add-task-button:disabled {
  background-color: #444444;
}
#add-task-button:hover:disabled::before {
  content: 'Você não pode adicionar uma tarefa sem título';
  display: block;
  font-size: 10px;
  position: absolute;
  background-color: #1b1b1b;
  padding: 5px;
  border-radius: 5px;
  top: 104%;
  cursor: auto;
}

#edit-task-button {
  cursor: pointer;
  width: auto;
  padding: 0 20px;
  height: 35px;
  align-self: center;
  color: #eee;
  background: #1b1b1b;
  border: none;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  /* margin-left: 10px; */
  position: relative;
}
#edit-task-button:disabled {
  background-color: #444444;
}
#edit-task-button:hover:disabled::before {
  content: 'Selecione uma tarefa para poder editá-la';
  display: block;
  width: 150px;
  font-size: 10px;
  position: absolute;
  background-color: #1b1b1b;
  padding: 5px;
  border-radius: 5px;
  bottom: 104%;
  right: -50%;
  cursor: auto;
  z-index: 2;
}

#done-edit-task-button {
  cursor: pointer;
  width: auto;
  padding: 0 20px;
  height: 35px;
  align-self: center;
  color: #1b1b1b;
  font-weight: 600;
  background: #eee;
  border: none;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  position: relative;
  margin-top: 20px;
  align-self: flex-end;
  margin-right: 10%;
}
#done-edit-task-button:disabled {
  background-color: #444444;
}
#done-edit-task-button:hover:disabled::before {
  content: 'adicione um título para poder editar tarefa';
  display: block;
  width: 150px;
  font-size: 10px;
  position: absolute;
  background-color: #1b1b1b;
  padding: 5px;
  border-radius: 5px;
  bottom: 104%;
  right: -50%;
  cursor: auto;
  z-index: 2;
}

#yes-modal-btn {
  cursor: pointer;
  width: auto;
  padding: 0 20px;
  height: 35px;
  align-self: center;
  color: #eee;
  background: #1b1b1b;
  border: none;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  /* margin-left: 10px; */
  position: relative;
}
#yes-modal-btn.inactive {
  display: none;
}
#no-modal-btn {
  cursor: pointer;
  width: auto;
  padding: 0 20px;
  height: 35px;
  align-self: center;
  font-weight: 600;
  color: #1b1b1b;
  border: none;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  /* margin-left: 10px; */
  position: relative;
}