@import url(./css/typograph.css);
@import url(./css/searchHeader.css);
@import url(./css/saleProduct.css);
@import url(./css/productInfoBar.css);
@import url(./css/categories.css);
@import url(./css/cart.css);
@import url(./components/item/css/item.css);
@import url(./css/itemList.css);
@import url(./components/itemCart/css/itemCart.css);

@import url(./components/staticCube/css/staticCube.css);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.notSupportScreen {
  display: none;
}

@media only screen and (max-width: 900px) {
  header,
  section,
  main,
  div.item,
  #categories,
  #search-bar,
  .itemList,
  .saleProduct,
  #cart {
    display: none;
    height: 100vh;
  }
  .notSupportScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: nowrap column;
    width: 100vw; height: 100vh;
  }
  .notSupportScreen h1 {
    text-align: center;
  }
}
