#cart {
  width: 30vw; height: 80vh;
  right: 7vw;
  top: 118px;
  position: fixed;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, .2);
  border-radius: 55px;

  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  justify-content: center;
}

.cart-iconContainer {
  align-self: center;
  margin-top: 15px;
}
