.saleProduct {
  width: 50vw; height: calc(0.4 * 50vw);
  background-image: url(../assets/saleProduct/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 50px;
  position: relative;
  border-radius: 3px;

  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
}

.saleProduct-textContent {
  display: flex;
  flex-flow: nowrap column;
}

.saleProduct-imageContainer {
  background: white;
  height: 220px; width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  /* padding: 4% 0; */
  z-index: 3;
  border-radius: 10px;
  box-shadow: 
    5px 5px 10px #2C2A63dd,
    4px 4px 10px #74B2A8 inset;
}

.saleProduct-image {
  height: 90%;
}

.saleProduct h1 {
  color: #ffffff;
  text-align: right;
  z-index: 4;
}


/* #saleProduct-priceContent {
  background: green;
} */

/* .saleProduct-nameContent {
  background: red;
} */

.saleProduct-nameContent h1:nth-child(1) {
  position: absolute;
  /* display: inline-block; */
  right: 50px;
  text-shadow: -3px 0 3px rgba(0, 0, 0, .5);
  /* color: red; */
}

.mini-ball-container {
  position: absolute;
  width: 100%; height: 100%;
  /* border: 2px solid red; */
}

.mini-ball-container canvas {
  /* border: 2px solid green; */
  width: 100%; height: 100%;
}
