@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  font-family: Ubuntu, sans-serif;
  background-color: rgb(253, 251, 251);
  margin: 0;
  color: rgb(27, 27, 27);
  display: grid;
  align-items: center;
  justify-content: center;
  background-image: url('./image/background3.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body p {
  font-size: 13pt;
}

body h1 {
  font-size: 16pt;
}

#the_card {
  width: 80%;
  margin-top: 100px;
  border-radius: 20px;
  justify-self: center;
  align-self: center;
  background-color: rgba(238, 238, 238, 0.1);
  box-shadow: 0 0 8px 2px rgba(28, 28, 28, 0.1);
  backdrop-filter: blur(15px);
  padding: 25px;
  display: grid;
  grid-template: 360px 250px / 1fr 1fr;
  grid-template-areas: 'lists profile_image'
    'text text';
}

main {
  grid-area: text;
  display: flex;
  justify-content: space-around;
  text-indent: 1em;
  margin-left: -100px;
}

#img_container {
  grid-area: profile_image;
  background-color: rgba(238, 238, 238, 0.1);
  box-shadow: 0 0 8px 2px rgba(28, 28, 28, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  width: 500px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

#imagem_decente {
  width: 360px;
  height: 360px;
  border-radius: 10px;
  background-image: url('./image/me2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 330px;
}

#lists {
  grid-area: lists;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

#lists ul , ol {
  margin-top: -15px;
}

#lists h1 {
  border-radius: 6px;
  padding: 15px;
}

#rodape {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(238, 238, 238, 0.1);
  box-shadow: -4px 0 4px 2px rgba(28, 28, 28, 0.1);
  backdrop-filter: blur(10px);
}

#linkedin_link {
  padding: 10px;
  background-image: url('./image/in_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
  color: transparent;
  transition: 0.1s all;
}

#github_link {
  padding: 10px;
  background-image: url('./image/github_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px;
  color: transparent;
  transition: 0.1s all;
}

#linkedin_link:hover {
  background-size: 75px;
}

#github_link:hover {
  background-size: 75px;
}

header {
  background-color: rgba(238, 238, 238, 0.5);
  box-shadow: 0 0 8px 2px rgba(28, 28, 28, 0.2);
  backdrop-filter: blur(10px);
  width: 80%;
  left: 10%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

#titulo {
  z-index: 1;
}

.lado-esquerdo {
  justify-self: left;
  margin-left: 60px;
  width: 500px;
  line-height: 1.3em;
}

.lado-direito {
  justify-self: right;
  background: linear-gradient(to right, rgb(162, 111, 208), rgb(252, 123, 173));
  border-radius: 50%;
  box-shadow: inset 12px 12px 25px 5px rgba(255, 255, 255, 0.3);
  width: 250px;
  height: 250px;
  margin-right: 130px;
  margin-top: 20px;
}

.lado-direito aside {
  text-align: center;
}

#cabecalho {
  position: fixed;
  top: 0;
}

#cabecalho ul {
  list-style: none;
}

#cabecalho ul li {
  margin-bottom: 15px;
}

#minha_foto {
  display: none;
  z-index: -1;
  position: absolute;
  top: 0;
}


#licoes_aprendidas {
  padding: 25px;
  padding-left: 40px;
  border-radius: 8px;
}

#licoes_a_aprender {
  padding-left: 40px;
  border-radius: 8px;
}

@media only screen and ( max-width : 1365px ) {

  #the_card {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  #lists {
    width: 40em;
    align-self: center;
  }

  #rodape {
    position: static;
    margin-top: 30px;
    width: 95%;
  }

  #img_container {
    align-self: center;
    width: 80%;
  }

  body {
    background-repeat: repeat-y;
  }

  main {
    flex-wrap: wrap;
    margin-left: 0;
    margin-top: 50px;
  }

  .lado-esquerdo {
    line-height: 1.3em;
    margin-left: 0;
  }

  .lado-direito {
    margin-right: 0;
    margin-top: 50px;
  }

  header {
    white-space: nowrap;
    flex-wrap: wrap;
  }
}

@media only screen and ( max-width : 607px ) {

  body {
    background-image: url('./image/background_v-02.png');
    background-repeat: repeat-y;
  }

  main {
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
  }

  #the_card {
    margin-top: 150px;
    background: transparent;
    width: 70%;
    align-items: center;
    justify-content: space-around;
  }

  #imagem_decente {
    background-size: 230px;
  }

  #img_container {
    height: 300px;
    box-shadow: none;
    background-color: transparent;
    align-self: center;
  }

  .lado-direito {
    width: 250px;
    height: 250px;
    line-height: 1.3em;
    margin-top: 50px;
  }

  .lado-direito h1 {
    line-height: 1.4em;
    margin-bottom: 5px;
  }

  #lists {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  #lists h1:nth-of-type( 2 ) {
    margin-top: -30px;
    order: 3;
  }

  #lists ul {
    order: 4;
    margin-left: -50px;
  }

  .lado-esquerdo {
    width: 250px;
    line-height: 2em;
  }

  #rodape {
    width: 100vw;
    background-color: rgba(238, 238, 238, 0.5);
    position: static;
  }
}
