.BottomMenu {
  align-items: center;
  background: white;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  display: inline-flex;
  height: 15vw;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

@media ( min-width : 1000px ) {

  .BottomMenu {
    box-shadow: none;
    display: flex;
    flex-flow: nowrap column;
    height: 70vh;
    right: 0;
    width: 15vw;
  }

  .BottomMenu * svg {
    transform: scale(1.5);
  }

  .BottomMenu * svg:hover {
    transform: scale(1.6);
    transition: 0.1s ease all;
  }
}
