.DoneRecipes {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}

.DoneRecipes-card {
  background: #eee;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  justify-content: space-around;
  margin: 30px 0;
  width: 95vw;
}

.DoneRecipes-img {
  border-radius: 5px;
  box-shadow: -15px -15px 5px rgba(0, 0, 0, 0.2) inset;
  margin: 5px;
}

.DoneRecipes-info {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.DoneRecipes a {
  color: #2b2b2b;
}

@media ( min-width : 1000px ) {

  .DoneRecipes-card {
    margin-left: 30px;
    width: 40%;
  }

  .DoneRecipes-cardsContainer {
    display: flex;
    width: 80vw;
  }
}
