.HomeRecipes-foodsList {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.HomeRecipes-buttonGroup {
  justify-self: center;
}

.HomeRecipes-link {
  transition: 2s ease all;
}

@media ( min-width : 1000px ) {

  .HomeRecipes-buttonGroup {
    width: 85vw;
  }

  .HomeRecipes-foodsList {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 80vw;
  }

  .HomeRecipes {
    display: flex;
    flex-flow: nowrap row;
  }
}
