.InProgressRecipes {
  position: relative;
}

.InProgressRecipes-infoContainer {
  align-items: center;
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 15px;
  width: 100vw;
}

.InProgressRecipes-infoContainer img {
  border-radius: 50%;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  width: 40vw;
}

.InProgressRecipes-iconsContainer {
  align-items: center;
  display: flex;
  height: 75px;
  justify-content: flex-end;
  width: 80vw;
}

.InProgressRecipes p {
  margin: 0 30px;
  text-indent: 35px;
}

.InProgressRecipes h3 {
  margin: 30px;
}

.InProgressRecipes-ingredientSetp {
  margin: 0 30px;
}

@media ( min-width : 1000px ) {

  .InProgressRecipes-infoContainer img {
    border-radius: 0%;
    box-shadow: none;
    height: 40vh;
    width: auto;
    z-index: -1;
  }
}
