.ContainerLayout {
  align-items: center;
  color: white;
  display: flex;
  flex-flow: nowrap column;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  row-gap: 15px;
}

.ContainerLayout input, .ContainerLayout button {
  width: 70vw;
}

.ContainerLumins {
  height: 100vh;
  position: absolute;
  width: 100vw;
}

.Logo {
  width: 50vw;
  z-index: 2;
}

.LoginLeft {
  align-items: center;
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
}

@media ( min-width : 1000px ) {

  .ContainerLayout {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
  }

  .ContainerLayout input, .ContainerLayout button {
    width: 30vw;
  }

  .Logo {
    width: 30vw;
  }
}

/* label {
  color: white ! important;
} */
