@import url(./css/typograph.css);
@import url(./css/searchHeader.css);
@import url(./css/saleProduct.css);
@import url(./css/productInfoBar.css);
@import url(./css/categories.css);

@import url(./plugin/staticCube/css/staticCube.css);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
