.SquareAcc {
  left: 20px;
  position: absolute;
  top: 20px;
  width: 300px;
}

.SquareAcc-cls-1 {
  fill: none;
  stroke: #2b2b2b;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

@media ( min-width : 1000px ) {

  .SquareAcc {
    left: 200px;
    position: absolute;
    top: 60px;
    width: 300px;
  }
}
