:root{
  --polygon-cell-pair-0: 25% 0%;
  --polygon-cell-pair-1: 75% 0%;
  --polygon-cell-pair-2: 100% 50%;
  --polygon-cell-pair-3: 75% 100%;
  --polygon-cell-pair-4: 25% 100%;
  --polygon-cell-pair-5: 0% 50%;

  --animation-time: 3s;
  --animation-type: linear;
  --animation-delay: 0s;

  --anim-shadow-phase-1: drop-shadow(-4px 0 5px rgba(0, 0, 0, .3)); /* mudar o drop shadow depois de px para porcentagem do tamanho da celula */
  --anim-shadow-phase-2: drop-shadow(0 0 0 rgba(0, 0, 0, 0));

  --cell-width: 150px;
  --cell-height: 135px;
}

#hexagon_container {
  position: absolute;
  right: 0;
  top: -60px;
  z-index: -1;
  width: 40vw;
  height: 100vh;
}

.hexagon_cell_container_shadow{
  /* filter: drop-shadow(-4px 0 5px rgba(0, 0, 0, .5)); */
  animation: hexagon_floor var(--animation-time) var(--animation-type) infinite alternate-reverse;
  animation-delay: var(--animation-delay);
  position: absolute;
  /* background: red; */
}
.hexagon_cell {
  z-index: -1;
  background-color: #e0e0e0;
  width: var(--cell-width);
  height: var(--cell-height);

  clip-path: polygon(var(--polygon-cell-pair-0), var(--polygon-cell-pair-1), var(--polygon-cell-pair-2), var(--polygon-cell-pair-3), var(--polygon-cell-pair-4), var(--polygon-cell-pair-5));

  transition: .5s ease-in-out all;
  animation: hexagon_size var(--animation-time) var(--animation-type) infinite alternate-reverse;
  animation-delay: var(--animation-delay);
}
.hexagon_cell::after{
  content: '';
  display: block;
  /* background-color: rgb(197, 197, 197); */
  margin-left: -4px;
  width: var(--cell-width);
  height: var(--cell-height);
  animation: hexagon_shadow var(--animation-time) var(--animation-type) infinite alternate-reverse;
  animation-delay: var(--animation-delay);
  /* clip-path: polygon(25% 0%, 34% 0, 7% 50%, 34% 100%, 25% 100%, 0% 50%); */
}

@keyframes hexagon_floor {
  /* filter: drop-shadow(-4px 0 5px rgba(0, 0, 0, .5)); */
  0%, 28%{
    filter: var(--anim-shadow-phase-1);
  }
  50%{
    filter: var(--anim-shadow-phase-1);
  }
  50%, 64%{
    filter: var(--anim-shadow-phase-2);
  }
  100%{
    filter: var(--anim-shadow-phase-2);
  }
}
@keyframes hexagon_shadow {
  /* clip-path: polygon(25% 0%, 34% 0, 7% 50%, 34% 100%, 25% 100%, 0% 50%); */
  0%, 28%{
    clip-path: polygon(25% 0%, 34% 0%, 8% 50%, 34% 100%, 25% 100%, 0% 50%);
    background-color: rgb(197, 197, 197);
    filter: opacity(1);
  }
  50%{
    clip-path: polygon(25% 0%, 34% 0%, 8% 50%, 34% 100%, 25% 100%, 0% 50%);
    background-color: rgb(197, 197, 197);
    filter: opacity(1);
  }
  50%, 64%{
    clip-path: polygon(15% 0%, 30% 0%, 5% 50%, 30% 100%, 20% 100%, 0% 50%);
    background-color: rgb(197, 197, 197);
    filter: opacity(.2);
  }
  100%{
    clip-path: polygon(15% 0%, 30% 0%, 5% 50%, 30% 100%, 20% 100%, 0% 50%);
    background-color: rgb(197, 197, 197);
    filter: opacity(.2);
  }
}
@keyframes hexagon_size {
  /* transform: scale(1); */
  0%, 28%{
   transform: scale(1);
  }
  50%{
    transform: scale(1);
  }
  50%, 64%{
    transform: scale(1.01);
  }
  100%{
    transform: scale(1.01);
  }
}
