:root {
  --scrollbar-width: 20px;
  --scrollbar-height-on-hover: 0px;
}

.list-scroll-container {
  height: 100%;
  background: red;
  display: -ms-grid;
  display: grid;
  grid-template-areas: "content scroll";
  grid-template-columns: 1fr var(--scrollbar-width);
}

#bar-container {
  height: 90%;
  width: var(--scrollbar-width);
  background: green;
  display: flex;
  justify-content: center; 
  align-self: center;
  position: relative;
}

#bar {
  width: 3px;
  background: black;
  transition: .4s ease all;
}

#ball {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
  background: black;
  border-radius: 50%;
  position: absolute;
  transition: border-radius .1s ease, height .5s ease;
}
#ball.hover-behavior {
  border-radius: 0px;
  height: var(--scrollbar-height-on-hover);
}
#bar-container:hover > #ball {
  border-radius: 0px;
  height: var(--scrollbar-height-on-hover);
}
#bar-container:hover > #bar {
  width: var(--scrollbar-width);
  background-color: rgba(27, 27, 27, .3);
}