.modal-area {
  width: 100vw;
  /* height: 30vh; */
  z-index: 6;
  background-color: #eee;
  /* background-color: red; */
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  position: absolute;
  left: 0;
  top: 35vh;
  display: inline;
  transition: .2s ease all;

  transform-origin: 100% center;
  transform: scale(1);
}
.modal-area.off {
  transform: scale(0);
}

.close-svg-style {
  fill: #1b1b1b;
}
.top-modal {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.top-modal-title {
  font-family: Quicksand, sans-serif;
  font-size: 2em;
  text-align: center;
  /* background: green; */
  margin-left: 20px;
  display: block;
  /* overflow-x: hidden; */
  word-wrap: break-all;
  /* text-overflow: ellipsis; */
}
.modal-description {
  font-family: Quicksand, sans-serif;
  font-size: 1.2em;
  /* background: green; */
  margin: 10px 0px 10px 15px;
  text-indent: 15px;
}
.modal-date-info {
  font-family: Quicksand, sans-serif;
  font-size: 1em;
  color: rgba(102, 102, 102, .5);
  /* background: green; */
  margin-left: 15px;
  text-indent: 15px;
  display: block;
  /* overflow-x: hidden; */
  word-wrap: break-all;
  /* text-overflow: ellipsis; */
}
.modal-completed {
  text-align: center;
  padding: 10px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  margin: 30px 20px;
  user-select: none;
  cursor: initial;
  display: block;
}
.modal-completed.on {
  color: green;
  background: rgba(0, 0, 0, .1);
}
.modal-completed.off {
  color: rgb(255, 183, 42);
  background: grey;
}
